<style>
    .box{
        width: 100px;
        height: 100px;
        background-color: azure;
        margin: 15px;
    }
    .red{
        background-color: red;
    }
</style>

<div class="box" 
    @click='a = !a' >
    </div>
<div class="box"></div>
<div class="box"></div>

<script src="/js/card1.js"></script>