*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-direction-vertical() {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flex-align-items() {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin text-align() {
    text-align: -moz-center;
    text-align: -webkit-center;
    text-align: center;
}

// $value 기본값 row
@mixin flex-justify($value: flex-start){
    @if $value == flex-start {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
      } @else if $value == flex-end {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
      } @else if $value == space-between {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
      } @else if $value == space-around {
        -ms-flex-pack: distribute;
      } @else {
        -webkit-box-pack: $value;
        -moz-box-pack: $value;
        -ms-flex-pack: $value;
      }
      -webkit-justify-content: $value;
      justify-content: $value;
}

@mixin flex-grow($int: 1) {
  -webkit-box-flex: $int;
  -moz-box-flex: $int;
  -webkit-flex-grow: $int;
  -ms-flex: $int;
  flex-grow: $int;
}

@mixin perspective($value) {
  perspective: $value;
  -moz-perspective: $value;
  -ms-perspective: $value;
  -webkit-perspective: $value;
}

// 반응형 웹 관련
$desktop-l-width	: 1440px;
$tablet-l-width		: 1024px;
$tablet-s-width		: 768px;
$mob-l-width		: 640px;
$mob-m-width		: 425px;
$mob-s-width		: 375px;

@mixin pc-only {
	@media screen and (min-width: $tablet-l-width + 1) {
		@content;
	}
}
@mixin pc-large {
	@media screen and (min-width: $desktop-l-width + 1) {
		@content;
	}
}

@mixin tab {
	@media screen and (max-width: $tablet-l-width) {
		@content;
	}
}
// 모바일
@mixin mob {
	@media screen and (max-width: $tablet-s-width - 1) {
		@content;
	}
}
// 모바일 large
@mixin mob-large {
	@media screen and (max-width: $mob-l-width) {
		@content;
	}
}
// 모바일 mid
@mixin mob-mid {
	@media screen and (max-width: $mob-m-width) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: $mob-s-width) {
		@content;
	}
}