@import './common';
body{
    background-color: rgb(20,20,20);
    overflow-x: hidden;
}
header{
    .bg {
        position: relative;
        background-color: #222;
        width: 100%;
        height: 500px;
        .header-content{
            position: absolute;
            width: 500px;
            height: 120%;
            @include flex();
            @include flex-direction-vertical();
            @include flex-justify(center);
            h1::before{
                content: "";
                width: 50px;
                border-left: 5px solid white;
                padding-right: 30px;
            }
            *{
                margin: 0 0 30px 50px;
                z-index: 5;
                color: white;
            }
            h1{
                font-size: 40px;
            }
            p{
                font-size: 17px;
            }
        }

    }
    .dot {
        border-radius: 50%;
        background-color: rgba(255,255,255,.5);
        position: absolute;
    }
    .wave-container{
        z-index: -1;
        position: relative;
    }
    .wave{
        position: absolute;
        top: 0;
        left: 0;
    }
}
